.details
  h2 Rekvizīti:
  dl
    dt Swedbank
    dd
      b Konts: LV52HABA0551038577436
      br
      b Ludmila Ivanova (pers.kods 300967-10223)
  p 
    | Jautājumi: 
    b
      = mail_to 'emergencyhelpforlina@gmail.com'
    
.text

  h3.text-center Lūgums palīdzēt!
  p
    br
    | Skolēni, vecāki, draugi, visi, kas neesat vienaldzīgi!
    br
    | 20.jūnijā autoavārijā pie veikala ,,Depo" smagi cietusi Lina Jakimoviča.
    br
    br
    | Brīdī, kad Lina no stāvvietā novietotās automašīnas bagāžas nodalījuma izņēma somu, viņai no mugurpuses uztriecās cita automašīna. Lina tika saspiesta starp abiem automobiļiem un guva ļoti smagas traumas - vaļējus kāju lūzumus un asinsvadu bojājumus. 21.jūnijā Lina ar helikopteru tika nogādāta Rīgā, taču diemžēl 
    b.red kāju saglabāt neizdevās, to nācās amputēt.
    br
    br
    | Lina ir garā stiprs cilvēks, sportiste, kas pieradusi cīnīties ar grūtībām, bet tagad viņai būs jāpārdzīvo sarežģīts adaptācijas periods, un tam būs vajadzīga mūsu palīdzība un atbalsts. Ārstēšanai un rehabilitācijai nepieciešami līdzekļi.
    br
    br
    | "AS Swedbank" ir atvērts ziedojumu konts, saņēmējs - Linas māte Ludmila Ivanova.
    br
    br
    | Viņas rekvizīti:
    br
    b.red LV52HABA0551038577436 , personas kods 300967-10223.
    br
    br
    

    h4 Papildus informācija:
    br
    = link_to 'http://grani.lv', 'http://www.grani.lv/daugavpils/45218-mama-u-menya-net-nogi.html', target: '_blank'
    br
    = link_to 'http://news2night.com', 'http://news2night.com/en/news/postradavshaja-v-avarii-devushka-vertoletom-dostavlena-v-rigu', target: '_blank'
    br
    = link_to 'http://www.tvnet.lv', 'http://rus.tvnet.lv/novosti/kriminal_i_chp/261490-tragichnoje_dtp_v_daugavpilsje_djevushka_ostalas_bjez_nogi?utm_source=www.tvnet.lv&utm_medium=self_ads&utm_campaign=Selfads_in_www.tvnet', target: '_blank'
    br
    = link_to 'http://www.nasha.lv', 'http://www.nasha.lv/rus/novosti/news/incident/150166.html', target: '_blank'

    br
    br
    iframe.video width="640" height="480" src="//www.youtube.com/embed/WnLxNy4k7Qs" frameborder="0" allowfullscreen 


    h3
      | Mūsu spēkos nav mainīt notikušo, bet mēs varam palīdzēt Linai atgriezties pilnvērtīgā dzīvē!
