.details
  h2 Реквизиты:
  dl
    dt Swedbank
    dd
      b Номер счета: LV52HABA0551038577436
      br
      b Ludmila Ivanova (pers.kods 300967-10223)
  p 
    | Вопросы: 
    b
      = mail_to 'emergencyhelpforlina@gmail.com'
.text

  h3.text-center Просьба о помощи!
  p
    br
    | Ученики, их родители, друзья, все неравнодушные люди!
    br
    br
    | 20 июня в результате автоаварии в районе магазина «Депо» пострадала 17-летняя Лина Якимович. Лина доставала из багажника сумку, когда в припаркованный автомобиль сзади врезалась другая машина. В результате Лина оказалась зажатой между двумя автомобилями и получила серьезные травмы – открытые переломы ног, повреждения кровеносных сосудов. 21 июня на вертолете Лину доставили в Ригу, но,
    b.red &nbsp к сожалению, ногу спасти не удалось, ее пришлось ампутировать.
    br
    br
    | Лина – сильный духом человек, спортсменка, которая привыкла бороться с трудностями, но сейчас ей придется пережить очень сложный период адаптации к новой жизни и потребуется наша помощь и поддержка. Для лечения и реабилитации необходимы средства.
    br
    br
    | На имя Лининой мамы в Swedbank был открыт счет, его реквизиты:
    br
    b.red LV52HABA0551038577436, Ludmila Ivanova (personas kods 300967-10223).
    br
    br

    h4 Дополнительная информация:
    br
    = link_to 'http://grani.lv', 'http://www.grani.lv/daugavpils/45218-mama-u-menya-net-nogi.html', target: '_blank'
    br
    = link_to 'http://news2night.com', 'http://news2night.com/en/news/postradavshaja-v-avarii-devushka-vertoletom-dostavlena-v-rigu', target: '_blank'
    br
    = link_to 'http://www.tvnet.lv', 'http://rus.tvnet.lv/novosti/kriminal_i_chp/261490-tragichnoje_dtp_v_daugavpilsje_djevushka_ostalas_bjez_nogi?utm_source=www.tvnet.lv&utm_medium=self_ads&utm_campaign=Selfads_in_www.tvnet', target: '_blank'
    br
    = link_to 'http://www.nasha.lv', 'http://www.nasha.lv/rus/novosti/news/incident/150166.html', target: '_blank'

    br
    br
    iframe.video width="640" height="480" src="//www.youtube.com/embed/WnLxNy4k7Qs" frameborder="0" allowfullscreen 



    h3
      |  Мы не в силах изменить произошедшее, но мы можем помочь Лине вернуться к полноценной жизни!




/ 20 июня в результате автоаварии в районе магазина «Депо» пострадала ученица нашей школы Лина Якимович. Лина доставала из багажника сумку, когда в припаркованный автомобиль сзади врезалась другая машина. В результате Лина оказалась зажатой между двумя автомобилями и получила серьезные травмы – открытые переломы ног, повреждения кровеносных сосудов. 21 июня на вертолете Лину доставили в Ригу, но, к сожалению, ногу спасти не удалось, ее пришлось ампутировать.

/ Лина – сильный духом человек, спортсменка, которая привыкла бороться с трудностями, но сейчас ей придется пережить очень сложный период адаптации к новой жизни и потребуется наша помощь и поддержка. Для лечения и реабилитации необходимы средства.

/   На имя Лининой мамы в Swedbank был открыт счет, его реквизиты:

/   LV52HABA0551038577436, Ludmila Ivanova (personas kods 300967-10223).

/ Мы не в силах изменить произошедшее, но мы можем помочь Лине вернуться к полноценной жизни!