.container
  .row.main-page
    .lang 
      = link_to 'lv', home_set_lv_path
      =<> '/'
      = link_to 'рус', home_set_rus_path

    .col-md-12
      = image_tag 'lina1.jpg', class: 'center-margin main-img', id: 'gallery_img'
      br
      div.social
        = render 'shared/social_buttons'
      br

      ul.album
        li
          = link_to '#' do 
            = image_tag 'lina2.jpg'
        li
          = link_to '#' do
            = image_tag 'lina4.jpg'
        li
          = link_to '#' do
            = image_tag 'lina5.jpg'
        li
          = link_to '#' do
            = image_tag 'lina6.jpg'
        li
          = link_to '#' do
            = image_tag 'lina1.jpg'
        li
          = link_to '#' do
            = image_tag 'lina7.jpg'
        li
          = link_to '#' do
            = image_tag 'lina8.jpg'
        li
          = link_to '#' do
            = image_tag 'lina9.jpg'
        li
          = link_to '#' do
            = image_tag 'lina10.jpg'
        li
          = link_to '#' do
            = image_tag 'lina11.jpg'

    br
    = render "home/#{@language}"
        


= content_for :javascript do
  coffee:
    $ ->
      $('.album > li > a').hover (
        -> $('#gallery_img').attr( 'src', @.children[0].src)  
      )