div.social {
  text-align: center;
  margin: 0 auto;
}

iframe.video { text-align: center; margin: 0 auto; display: block; }
body {
  background: image-url('bg.jpg') no-repeat center;
  background-color: black; 
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-shadow: 0 0 10 white;
}
.container {
  background-color: rgba(7,2,2,0.8);
}
.main-page {
  margin-top: 50px;
}
.center-margin {
  display: block; margin: 0 auto;
}
.main-img {
  width: auto; height: 500px;  
  margin: 0 auto;
  border-radius: 3px;
}
.text {
  padding: 20px;
  width: 80%; margin: 0 auto; display: block;
  p {
    font-size: 20px;
    line-height: 35px;
  }
}

ul.album {
  list-style: none;
  width: auto;
  margin: 0 auto;
  display: block;
  width: 988px; 
  &:after, &:before {
    zoom: 1; clear: both;
  }
  li {
    margin: 0 10px 0 10px;
    display: inline-block; 
    img {
      width: auto; height: 100px;
    }
  }
}
.row {
  position: relative;
}
.details {
  padding: 10px;
  width: 300px;
  display: block;
  position: fixed;
  left: 0; top: 0;
  h2 { color: red; }
  dl {
    dt {

    }
    dd {
    }
  }
}

.lang {
  font-size: 17px;
  position: absolute; right: 50px;
  a {
    color: white; 
  }
}
b {
  &.red {
    color: red;
  }
}

  a {
    color: white;
    &:hover {
      color: gray;
    } 
  }