<!DOCTYPE html>
<html>
<head>
  <title>Palīdzēsim Līnai kopā!</title>
  
  <meta name="description" content="Skolēni, vecāki, draugi, visi, kas neesat vienaldzīgi!"> 
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">

  <meta property="og:title" content="Palidzēsim Līnai kopā!" />
  <meta property="og:description" content="Skolēni, vecāki, draugi, visi, kas neesat vienaldzīgi!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://lina.wimb.in" />
  <meta property="og:image" content="<%= image_url('lina1.jpg') %>" />


  <link rel="shortcut icon" type="image/png" href="<%= image_url('favicon.png') %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
  <%= render 'shared/ga' if Rails.env.production? %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript %>  
</html>
